.search {
	width: 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.search_page{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 30px 50px;

	background-color: #f2f2f2;

	margin-bottom: 50px;
}

.search_block{
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 80%;

	background-color: white;

	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	margin: 0 auto;
}
.option_block{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;


	padding: 10px;

	border-bottom: 1px solid #ededed;

	width: 100%;
}
	.option_block p{
		font-size: 25px;
		margin-left: 10px;
		color: #707070;
	}
.company_result{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
	.results a{			
			font-size: 25px;
		}
	.results b{
		font-size: 20px;
	}

.search__link {
	color: #0089ea;
	font-size: 20px;
	text-decoration: underline;
	font-weight: 500;
	transition: 0.2s;
}

	.search__link:hover {
		color: #005a9a;
	}

.search_result{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	padding: 10px;

	width: 100%;
}
	.company_review{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 55%
	}
/*	.width_type{
		width: 900px;
	}*/
		.add_info{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		margin-bottom: 15px;
	}
		.add_info div{
			color: black;
			font-size: 14px;

		}
		.results p{
			font-size: 18px;
			/*margin: 0 auto;*/
			margin-right: 15px;
		}
.search_border{
	width: 95%;
	border:1px solid #ededed;
}
